version: '3.8'
services:
  mosquitto:
    container_name: mosquitto
    build: 
      context: ./mosquitto
    ports:
      - "1883:1883"
    networks:
      - app_network

  database:
    container_name: database
    build: 
      context: ./database
    depends_on:
      - mosquitto
    volumes:
      - db_storage:/app/data
    networks:
      - app_network

  telegram_bot:
    container_name: telegram_bot
    build:
      context: ./telegram_bot
    depends_on:
      - database
    networks:
      - app_network

volumes:
  db_storage:

networks:
  app_network:
    driver: bridge