services:
  mosquitto:
    container_name: mosquitto
    build: 
      context: ./mosquitto
    ports:
      - "1883:1883"
    networks:
      - app_network

  postgres:
    container_name: postgres
    build: 
      context: ./postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  telegram_bot:
    container_name: telegram_bot
    build:
      context: ./telegram_bot
    ports:
      - "80:80"
      - "1883:1883"
    depends_on:
      - postgres
    environment:
      MQTT_BROKER: "mosquitto"
      MQTT_PORT: "1883"
      DATABASE_URL: "postgresql://testiwhisk:eT1wDCKu@postgres:5432/database"
      BOT_TOKEN: "6599928755:AAEVXPIrKmp3qOvmoT5x5eKXeifYZN01Ce4"
    networks:
      - app_network

volumes:
  postgres_data:
    driver: local

networks:
  app_network:
    driver: bridge