:root {
    --primary-color: #007bff;
}

.btn {
    padding: .6rem 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 120px;
    margin-left: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77); 
}

.btn.add {
    background-color: var(--primary-color);
    color: white;
}

.btn.remove {
    background-color: tomato;
    color: white;
}

.btn.set {
    background-color: #28a745;
    color: white;
}

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    background-color: bisque;
}